#root{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    width: 100%;
    gap: 4rem;
    margin-top: 3rem;
    justify-items: center;
    justify-content: center;
}

#TitleBooks{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 4rem;
    margin-top: 1rem;
}

#subtitle{
    display: flex;
    position: relative;
    bottom: 1.5rem;
    justify-content: center;
    width: 100vw;
    font-size: 1rem;
    margin-top: 4rem;
}

